fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-chroma
langchain-google-genai
PyPDF2
PyMuPDF
langchain-huggingface
sentence-transformers
chromadb
google-generativeai
pydantic
PyJWT
sqlalchemy
passlib[bcrypt] 
psycopg2-binary
